[Unit]
Description=SaniTrend Cloud Lite
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/sanimatic/SaniTrendCloud_Lite/SaniTrend.py
WorkingDirectory=/home/sanimatic/SaniTrendCloud_Lite/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=sanimatic
RestartSec=5

[Install]
WantedBy=multi-user.target